[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Icon=display
Actions=resize
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false

[Desktop Action resize]
Name=Automatic Resize
Icon=display
